page-home {
    .home{
       
        margin-top: 50px;
        background-image: url("../assets/imgs/SAfrica.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    
    .toolbar-title{
        text-align: center;
    }
    
    
}
